

.header1{
    display: flex;
justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;
    

    background-color: black;
    color: white;
}
.left{
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}
.right{
    display: flex;
    justify-content: end;
    margin-right: 10px;
    
}