

.header1{
    display: flex;
justify-content: space-between;
    height: 60px;
    width: 100%;
    align-items: center;
    

    background-color: black;
    color: white;
}
.left{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}
.left i{
    margin-right: 20px;
}
.left input{
    margin-right: 20px;
}
.right{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    
}
.right i{
    margin-right:20px ;
}
.section-2{
    background-color: darkviolet;
}
.section-2 > nav{
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
    padding: 20px;
    
}
.section-2 i{
    padding: 10px;
}
nav img{
    padding-right: 10px;
    padding-left: 10px;
}
.fa-caret-right{
    margin-left: 7px;
}
.fa-ellipsis-vertical{
    margin-left: 7px;
    margin-right: 7px;
}
.fa-caret-down{
    margin-left: 7px;
}
.section-3{
    display: flex;
    justify-content: flex-end;
}

.main{
    display: flex;
   
    /* align-items: center; */
}
.aside{
    width: 300px;
    height: 500px;
    text-align: left;
    background-color: darkviolet;
}
h2{
    margin: 0;
}
select{
    margin-left: 30px;
}
.fa-message1{
    margin-top: 10px;
    margin-left: 7px;
}
.section-1{
    display: flex
}
.section-3{
    display: flex;
    flex-direction: column;
    width: 1050px;
}
.section-3-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px;padding-top: 20px;
    padding-left: 10px;
    /* width: 1050px; */

    background-color: pink;

}
.section-3-middle{
    height: 50px;
  padding-top: 20px;
    padding-left: 10px;
    background-color: blueviolet;
}
.section-3-p{
    height: 200px;
    background-color: violet;
}
.textarea{
    padding-top: 30px;
}